// ===ABOUT US SECTION=====

.about-us-section{
    background-image: url("../images/about-us-img.png");
    background-repeat: no-repeat;
    background-position-y: 45px;
    border-radius: 8px;
    padding: 164px 85px;
}

.about-us-section__head{
    margin: 0;
    padding: 0;
    font-family: 'Fraunces', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
}

.tel{
    text-decoration: none;
    color: dimgray;
}

.tel:hover{
    color: black;
}
.mistake{
    width: 516px;
    padding-bottom: 53px;
}

.about-us-section__desc{
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;

    padding-top: 24px;
}

//    =====OUR COMMITMENT=====

.our-commitment{
    display: flex;
    margin-top: 168px;
    margin-left: 85px;
}

.our-commitment__img{
    border-radius: 8px;
    width: 445px;
    height: 520px;
}

.our-commitment__head{
    margin: 0;
    padding: 0;
    font-family: 'Fraunces', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #333D4B;
    margin-top: 100px;
}

.our-commitment__card{
    width: 540px;
}

.our-commitment__desc{
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    mix-blend-mode: normal;
    opacity: 0.8;
    padding-top: 32px;
}

.our-commitment__box{
    margin-left: 125px;
}

//   ====Uncompromising quality====

.uncompromising-quality{
    position: relative;
    background-image: url("../images/backgtround-img-in~commitment.png");
    background-repeat: no-repeat;
    object-fit: cover;
    height: 474px;
    margin-top: 260px;
}

.uncompromising-quality__img{
    position: absolute;
    right:60px;
    bottom: 82px;
    border-radius: 8px;
}

.uncompromising-quality__head{
    margin: 0;
    padding: 0;
    font-family: 'Fraunces', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
    padding-top: 100px;
    padding-left: 85px;
}

.uncompromising-quality__desc{
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
    width: 540px;
    padding-top: 32px;
    padding-left: 85px;
}

// ====Our headquarters====

.our-headquarters__country{
    display: flex;
    justify-content: space-between;
    width: 1045px;
    padding-bottom: 168px;
}

.our-headquarters__head{
    margin-top: 168px;
    margin-left: 85px;
    font-family: 'Fraunces', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
}

.our-headquarters__united-kingdom{
    margin-left: 85px;
}

.our-headquarters__united-kingdom-img{
    margin-top: 72px;
}

.our-headquarters__united-kingdom-haed{
    margin: 0;
    padding: 0;
    font-family: 'Fraunces', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
    padding-top: 45px;
}

.our-headquarters__united-kingdom-desc{
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    width: 126px;
    padding-top: 24px;
}

.canda-desc{
    width: 164px;
}

.australia-desc{
    width: 164px;
}



@media only screen and (max-width:1245px){

    .our-commitment__card{
        width: 100%;
        // width: 445px;
    }

    .our-commitment__img{
        margin-left: -52px;
        width: 411px;
    }
}

// ====uncompromising-quality====

@media only screen and (max-width:1170px){

    .uncompromising-quality__head{
        margin-right: 596px;
        font-weight: 900;
        font-size: 32px;
        line-height: 48px;
        text-align: center;
        color: #FEFCF7;
        width: 497px;
    }

    .uncompromising-quality__desc{
        font-weight: normal;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: #FEFCF7;
        mix-blend-mode: normal;
        opacity: 0.8;
    }
}

@media only screen and (max-width:1100px){
    .uncompromising-quality{
        padding: 106px 451px 0 0 ;
    }

    .uncompromising-quality__head{
        margin: 0;
        padding: 0;
        margin-left: -17px;
        font-size: 30px;
    }

    .uncompromising-quality__desc{
        margin-left: -44px;
        margin-top: -18px;
        font-size: 14px;
        width: 470px;
    }

    .our-headquarters__country{
        width: 100%;
    }
}

@media only screen and (max-width:1046px){
    .our-commitment__box{
        margin-top: -91px;
    }

    .our-commitment__head{
        font-size: 32px;
    }

    .our-commitment__card{
        // width: 339px;
    }
}

@media only screen and (max-width:982px){
    .uncompromising-quality{
        display: flex;
        flex-direction: column;
        padding: 222px 41px 10px 20px;
    }

    .uncompromising-quality__img{
        width: 573px;
        height: 332px;
        top: -35%;
        left: 17%;
        object-fit: cover;
    }

    .uncompromising-quality__head{
        margin-left: 124px;
        margin-top: -16px;
        font-size: 36px;
    }

    .uncompromising-quality__desc{
        margin-left: 101px;
        // width: 613px;
        font-size: 16px;
    }
}

@media only screen and(max-width:950px){
    .our-commitment__box{
        margin-left: 60px;
    }
}

@media only screen and (max-width:900px){
    .about-us-section{
        position: relative;
        background-image: url("../images/tablet-hero.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
    }
}
@media only screen and (max-width:870px){
    .about-us-section{
        background-position: left -70px center;
        top: 41px;
    }

    .our-commitment__box{
        margin-left: 80px;
    }

    .our-commitment__img{
        width:281px;
        height: 470px;
        margin-left:-84px;
        object-fit: cover;
    }

    .our-commitment__desc{
        font-size: 15px;
    }
}

@media only screen and (max-width:830px){
    .uncompromising-quality__box{
        margin-left: 14px;
    }

    .uncompromising-quality__img{
        left: 98px;
    }
}


@media only screen and (max-width:766px){
    .about-us-section{
        background-position: left -188px center;
    }

    .our-commitment__card{
        // width:340px;
    }

    .uncompromising-quality__img{
        left: 74px;
        width:530px;
        height: 315px;
    }

    .uncompromising-quality__box{
        margin-left:-100px;
    }
}

@media only screen and (max-width:735px){
    .our-commitment__box{
        margin-left: 40px;
    }
}

@media only screen and (max-width:690px){
    .about-us-section__head{
        font-size: 32px;
        line-height: 40px;
    }

    .about-us-section__desc{
        font-size: 15px;
        line-height: 25px;
    }

    .mistake{
        width: 355px;
    }


    .our-commitment__box{
        margin-top: -123px;
    }


    .uncompromising-quality__img{
        top: -120px;
        left: 100px;
        height: 241px;
        width: 448px;
    }

//    ====our-commitment=====
    .uncompromising-quality__box{
        margin-left: -128px;
    }

    .our-commitment__head{
        font-size: 33px;
        line-height: 48px;
        color: #333D4B;
        font-weight: 900;
    }

    .our-commitment__desc{
        font-weight: normal;
        font-size: 14px;
        line-height: 23px;
        color: #333D4B;
        mix-blend-mode: normal;
        opacity: 0.8;
    }
}

@media only screen and (max-width:678px){
    .uncompromising-quality__box{
        margin-left: -116px;
    }
}

@media only screen and (max-width:657px){
    .uncompromising-quality__desc{
        margin-left: -30px;
    }
}

@media only screen and (max-width:645px){
    .about-us-section{
        background-position: left -365px center;
    }

    .our-commitment__head{
        font-size: 25px;
    }

   .our-commitment__desc{
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #333D4B;
    mix-blend-mode: normal;
    opacity: 0.8;

   }
   .our-commitment{

   }

    .uncompromising-quality__img{
        margin-left: 3px;
        width: 384px;
    }

    .uncompromising-quality__head{
        font-size: 30px;
        margin: 0;
        padding-left:124px;
        width: 100%;
    }
    .uncompromising-quality{
        padding: 216px 57px -53px 43px;
    }

    .uncompromising-quality__box{
        margin-top: -48px;
    }

    .uncompromising-quality__desc{
        width: 470px;
        margin-left: 113px;
    }

    .uncompromising-quality__desc{
        width: 100%;
        margin-left: 30px;
    }
}

@media only screen and (max-width:625px){
    .our-commitment{
        display: flex;
        flex-direction: column;
    }

    .our-commitment__desc{
        padding: 30px 31px 20px 24px;
        width: 140%;
        position: relative;
        left: -120px;
    }

    .our-commitment__img{
        // width: 445px;
        width: 100%;
        margin-left: -46px;
    }

    .our-commitment__box{
        margin-top: -50px;
    }
    .our-commitment__head{
        margin-left: 24px;
        width: 100%;
    }
}

@media only screen and (max-width:600px){
    .our-commitment__img{
        // width: 230px;
    }

    .uncompromising-quality__img{
        width: 386px;
        height: 221px;
    }
}

@media only screen and (max-width:576px){
    .uncompromising-quality__img{
        margin-left:-37px;
    }
}

@media only screen and (max-width:550px){


    .about-us__headline{
        padding: 0 24px;
        text-align: center;
    }

    .about-us-section__head{
        width: 91%;
    }

    .about-us-section__desc{
        width: 80%;
    }

    .our-commitment__head{
        font-size: 21px;
    }

    .our-commitment__card{
        margin-top: -24px;

    }

    .uncompromising-quality__img{
        margin-left: -31px;
    }
}

@media only screen and (max-width:538px){
    .about-us-section{
        padding: 111px 24px;
        background-position: left -352px center;
    }

    .uncompromising-quality__head{
        font-size: 29px;
    }


    .uncompromising-quality__img{
        width: 350px;
        height: 202px;
    }
}

@media only screen and (max-width:518px){
    .uncompromising-quality__img{
        margin-left: -43px;
    }

}

@media only screen and (max-width:500px){
    // .our-commitment{
    //     display: flex;
    //     flex-direction: column;
    //     background-image: url("../../images/mobiloe-img.jpg");
    //     background-repeat: no-repeat;
    //     width: 327px;
    //     height: 400px;
    //     position: relative;
    //     top: 2px;
    //     left: -22px;
    //     padding-left: 20px;
    // }

    // .our-commitment__box{
    //     padding-top: 450px;
    // }

    .our-commitment__desc{
        font-size: 12px;
    }

    .our-commitment__head{
        font-size: 24px;
        position: relative;
        left: -69px;
    }

    .our-commitment__img{
        // display: none;
    }
    .uncompromising-quality{
        margin-top:145px;
    }
}

@media only screen and (max-width:480px){
    .uncompromising-quality__img{
        margin-left: -62px;
    }

    .our-commitment__desc{
        margin-left: 1px;
        width: 160%;
    }


@media only screen and (max-width:452px){
    .about-us-section__head{
        width: 97%;
    }

    .about-us-section__desc{
        width: 100%;
        padding-left: 20px;
    }

    .mistake{
        width: 250px;
    }
    .our-commitment__img{

    }

}

@media only screen and (max-width:448px){
    .uncompromising-quality__box{
        margin-top: -95px;
    }

    .uncompromising-quality__img{
        width: 279px;
        height: 156px;
        margin-left: -35px;
        margin-top: 34px;
    }
}

@media only screen and (max-width:450px){
    .our-commitment__desc{

    }
}

@media only screen and (max-width:405px){
    .uncompromising-quality__img{
        margin-left: -60px;
    }
}

@media only screen and (max-width:398px){
    .about-us-section{
        padding: 111px 24px;
        background-position: left -488px center;
    }

}

@media only screen and (max-width:381px){
    .about-us-section__head{
        width: 100%;
    }

    .about-us-section__desc{
        width: 75%;
    }

    .uncompromising-quality__img{
        margin-left: -77px;
    }
}

@media only screen and (max-width:378px){
    .our-commitment__head{
        width: 134%;
        left: -114px;
    }
}

@media only screen and (max-width:360px){
    .uncompromising-quality__img{
        width: 279px;
        height: 156px;
        margin-left: -85px;
    }
}

@media only screen and (max-width:345px){
    .about-us-section{
        padding: 111px 24px;
        background-position: left -657px center;
    }

    .uncompromising-quality{
        padding-top: 190px;
    }

}



@media only screen and (max-width:327px){
    .about-us-section{
        background-position: left -527px center;
    }

    .our-commitment__head{
        width: 153%;
        left: -115px;
    }

    .uncompromising-quality__img{
        margin-left: -94px;
        width: 270px;
        height: 150px;
    }

    .uncompromising-quality__head{
        font-size: 25px;
    }
}

@media only screen and (max-width:290px){
    .about-us-section{
        background-position: left -805px center;
        padding: 111px 45px;
        vertical-align: middle;
    }

    .about-us-section__head{
        width: 38%;
    }

    .about-us-section__desc{
        width: 34%;
    }
}


@media only screen and (max-width:260px){
    .about-us-section{
        padding: 111px 45px;
        vertical-align: middle;
    }

    .about-us-section__head{
        width: 27%;
    }

    .about-us-section__desc{
        width: 22%;
    }
}
}